.chat-window{
    height: 600px;
    overflow-y: scroll;
}
.card{
    margin-top: 20%;
}

.container-chatwindow{
    width: 700px;
}
.card-header-top{
background-color: rgb(100, 180, 255);
color: white;
height: 100px;
}
.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-loggedin{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: black;
   
}

.text-muted{
    font-size: 0.8rem;
}

.btn-logout{
    border-radius: 5px;
    background-color: rgb(175, 175, 175);
    font-family: Arial,sans-serif;
    font-weight: 500;
    color: white;
    
}
.btn-logout:hover{
    background-color: rgb(132, 132, 132);
}

.input-group{
    gap:0.5rem;
}

.btn-primary-chat{
    width: 20%;
}

#btn-send{
    border-radius: 5px;
}

#form-text{
    border-radius: 5px;
}